body{
    padding: 0;
    margin: 0;
    background-color: #000;
    color: white;
}
ul {
    display: flex;
    justify-content: space-around;
    
}
.navbar li a {
    font-size: larger;
    text-decoration: none;
    color: white;
}
.name{
    /* margin-top: 20%;
    margin-left: -50%; */
    padding: 100px 150px 100px 150px;
    display: flex;
    justify-content: space-around;
}

.name_content {
    font-size: 40px;
}

.image1{
    float:right ;
    width: 50%;
}